@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
	background-color:#fff;
	font-size:16px;
	color:#444;
	font-family: 'Josefin Sans', sans-serif;
}
 
.content{
	width: 100%;
}
/*menu navigasi*/

nav {
   background-color: #f0f0f0;
   padding: 5px;
   text-align: right;
   position: sticky;
   top: 0;
   overflow: auto;
   z-index: 1;
}
nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
   width: 10px;
}
nav a {
   font-size: 16px;
   font-weight: 600;
   text-decoration: none;
   color: #717171;
   margin-top: 30px;
}
nav a:hover{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
nav img{
	margin-left: 30px; 
	float: left;
	height: 45px;
}
 
 /*banner*/
.container{
	width: 100%;
}
 
.header {
    text-align: center;
    color: white;
    font-size: 30px;
    background-position: center;
	margin-top: -20px;
}
.header img{
	height: 550px;
}
.kalsel{
	margin-top: 100px;
	text-align: center;
	color:#7C1212;
}
.kalsel h1{
	margin-top: -15px;
	text-align: center;
	color:#7C1212;
	text-transform:uppercase;
}
/*tentang-kalsel*/
.tentangkalsel{
	background-color: #fff;
	width: 85%;
	border: 1px solid lightgray;
	border-radius: 20px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	padding: 20px;
	margin: 10px;
	float: right;
	margin-right: 75px;
	margin-bottom: 100px;
}
/*wisata*/
.wisata{
	margin-top: 100px;
	text-align: center;
}
.wisata h1{
	color: #7C1212;
}

.wisata h3{
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 35px;
	color: #444;
}

.wisata-list {
		width: 100%;
		padding: 5px;
		display: flex;
		justify-content: center;
}

.kartu-alam a{
	    margin-left: -20%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-kuliner a{
	    margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-religi a{
	    margin-left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-alam img{
    width: 200px;
    border-radius: 10%;
}
.kartu-kuliner img{
    width: 200px;
    border-radius: 10%;
}
.kartu-religi img{
    width: 200px;
    border-radius: 10%;
}
.kartu-alam img:hover { 
	-o-transition: all 0.3s; 
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-moz-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1.15); 
	-webkit-border-radius: 10% 10%; 
	-moz-border-radius: 10% / 10%; 
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); 
}
.kartu-kuliner img:hover { 
	-o-transition: all 0.3s; 
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-moz-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1.15); 
	-webkit-border-radius: 10% 10%; 
	-moz-border-radius: 10% / 10%; 
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); 
}
.kartu-religi img:hover { 
	-o-transition: all 0.3s; 
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-moz-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1.15); 
	-webkit-border-radius: 10% 10%; 
	-moz-border-radius: 10% / 10%; 
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); 
}
/*sosmed*/
.sosmed{
	margin-top: 100px;
	text-align: center;
}
.sosmed h1{
	color: #7C1212;
}

.sosmed h3{
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 35px;
	color: #444;
}

.sosmed-list {
		width: 100%;
		padding: 5px;
		display: flex;
		justify-content: center;
}

.kartu-sosmed1 {
	    margin-left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-sosmed2 {
	    margin-left: -7%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-sosmed3 {
	    margin-left: -7%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-sosmed4 {
	    margin-left: -7%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-sosmed5 {
	    margin-left: -7%;
        display: flex;
        align-items: center;
        justify-content: center;

}
.kartu-sosmed1 img{
    width: 300px;
    border-radius: 10%;
}
.kartu-sosmed2 img{
    width: 300px;
    border-radius: 10%;
}
.kartu-sosmed3 img{
    width: 300px;
    border-radius: 10%;
}
.kartu-sosmed4 img{
    width: 300px;
    border-radius: 10%;
}
.kartu-sosmed5 img{
    width: 300px;
    border-radius: 10%;
}
 
div.halaman{
	text-align: center;
	padding: 30px 20px;	
}

.instagram img{
	margin-top: -50px;
	margin-bottom: 100px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-radius: 10%;
	width:150px
}

/*footer*/
.footer{
	background-color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    overflow: auto;
}
 
div.footer ul {
	display: inline;
    list-style-type: none;
    margin-right: 20px;
    width: 10px;
}
 
div.footer ul li {
	float:left;		
}
 
div.footer a {
	font-family: sans-serif;
	font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #777777;
    margin-top: 30px;
	margin-left: 50px;
}

div.footer img{
	margin-right: 50px; 
	float: right;
	width: 20px;
}
