body{
	background-color:#fff;
	font-size:22px;
	color:#7C1212;
	font-family: sans-serif;
}
h1{
   color:#7C1212;
	font-family: sans-serif;
   padding: 50px;
   margin: 14px 0;
}
p{
   color:#ebe8e8;
	font-family: sans-serif;
   margin-right: top;
}
 
.content{
	width: 100%;
}
/*menu navigasi*/

nav {
   background-color: #f0f0f0;
   padding: 5px;
   text-align: right;
   position: sticky;
   top: 0;
   overflow: auto;
}
nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
   width: 10px;
}
nav a {
   font-size: 16px;
   font-weight: 600;
   text-decoration: none;
   color: #000;
   margin-top: 30px;
}
nav img{
	margin-left: 30px; 
	float: left;
	height: 45px;
}

header {
   background-color: #ffffff;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   padding: 5px;
   text-align: right;
   position: sticky;
   top: 0;
   overflow: auto;
}
header li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
   width: 10px;
}
header a {
   font-size: 16px;
   font-weight: 600;
   text-decoration: none;
   color: rgb(102, 95, 95);
   margin-top: 30px;
}
header img{
	margin-left: 30px; 
	float: left;
	height: 45px;
}
nav{
   width: 100%;
	height: 715px;

	display: flex;
	justify-content: left;
	align-items: left;
}
.card {
	background: #fbfbfb;
	border-radius: 3px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	height: 680px;
	margin: auto;
	width: 1500px;
}
nav img {
   width: 780px;
   height: 430px;
   margin: 0;
   padding: 0;
   -webkit-box-shadow: 0 0 20px #000;
   box-shadow: 0 0 20 px rgb(218, 215, 215);
   border-radius: 8px;
}
.footer{
	background-color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    overflow: auto;
}
 
div.footer ul {
	display: inline;
    list-style-type: none;
    margin-right: 20px;
    width: 10px;
}
 
div.footer ul li {
	float:left;		
}
 
div.footer a {
	font-family: sans-serif;
	font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #777777;
    margin-top: 30px;
	margin-left: 50px;
}

div.footer img{
	margin-right: 50px; 
	float: right;
	width: 20px;
}

 
